<section class="flex items-center">
  <article
    class="login-container bg-white flex flex-col px-16 py-10 rounded-2xl m-auto"
  >
    <span class="mx-auto">LOGO</span>
    <span class="title mx-auto text-3xl font-black mb-6">NYAYO</span>
    <span class="mx-auto text-xl mb-4 text-slate-900"
      >Log in to Nyayo Tea Zones</span
    >
    <span class="mx-auto text-xs mb-4 text-slate-700"
      >Enter your user ID and password below</span
    >
    <label htmlFor="user-id" class="text-xs text-slate-800">USER ID</label>
    <mat-form-field appearance="outline" color="accent">
      <input matInput name="user-id" type="text" placeholder="User ID" />
      <mat-icon matSuffix color="accent">account_circle</mat-icon>
    </mat-form-field>
    <span class="flex justify-between">
      <label htmlFor="password" class="text-xs text-slate-800">PASSWORD</label>
      <a class="text-orange-500 text-xs">Forgot Password?</a>
    </span>
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        name="password"
        [type]="hidePassword ? 'password' : 'text'"
        placeholder="Password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
        color="accent"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" class="mt-4">Log In</button>
  </article>
</section>
