<section class="settings-container rounded-md">
  <div class="p-5">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita beatae
    aliquam, fuga omnis ipsum reprehenderit nulla minus, vitae dicta numquam
    voluptas mollitia facilis fugiat debitis accusamus officia eligendi nihil!
    Aliquid repellat nulla optio exercitationem debitis eveniet earum saepe non
    libero. Fugiat itaque natus eos magni voluptas odit nam reiciendis possimus
    commodi distinctio? A, tempora dolor corporis culpa vel pariatur facere.
    Unde perferendis, consectetur rem veniam sequi nobis ea adipisci reiciendis
    autem totam eius voluptatum dolor, vero animi dolorum repudiandae quisquam
    obcaecati vitae esse nam ipsam velit provident? Quas quis doloremque cumque
    veniam dolorum numquam laborum quisquam, dignissimos velit quibusdam
    repellat! Accusantium nesciunt alias atque aliquam, architecto dolores illo,
    rem nisi deserunt earum quam ducimus inventore veniam labore omnis aliquid
    minima laborum? Quam pariatur temporibus unde ea eveniet distinctio
    accusantium, accusamus repellendus voluptatem.
  </div>
  <div class="p-3">
    <button mat-stroked-button color="accent" (click)="accordion.openAll()">
      Expand All
    </button>
    <button mat-stroked-button color="accent" (click)="accordion.closeAll()">
      Collapse All
    </button>
  </div>
  <mat-accordion class="headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-white font-medium">
          SET CASUAL PAYMENT RATE
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col py-8 lg:px-16 justify-start">
        <p class="font-medium text-sm mb-3">
          Please Configure A System-Wide Payment Rate For Casuals
        </p>

        <mat-checkbox color="primary" class="mb-3">
          Enable manual casual payment rate
        </mat-checkbox>

        <div class="lg:w-80 justify-start">
          <span class="flex justify-between text-slate-500 mb-3">
            <p>Current Rate:</p>
            <p class="justify-self-end">11.00 Ksh/Kg</p>
          </span>

          <span class="flex justify-between mb-3">
            <p class="font-medium">New Rate: (Ksh/Kg)</p>
            <input
              type="text"
              class="border-2 border-slate-500 rounded-md w-28"
            />
          </span>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-white font-medium">
          SET TARE WEIGHT
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col py-8 lg:px-16 justify-start">
        <p class="font-medium text-sm mb-3">
          Please Configure A System-Wide Tare Weight
        </p>
        <p class="text-slate-500 mb-3">Tare Weight (Kgs)</p>
        <input
          type="text"
          class="border-2 border-slate-500 rounded-md w-28 px-2"
        />
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-white font-medium">
          SET PAYMENT PERIOD
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col py-8 lg:px-16 justify-start">
        <p class="font-medium text-sm mb-3">
          Please Configure A System-Wide Payment Period
        </p>
        <p class="text-slate-500 mb-5">Payment Period</p>

        <mat-form-field class="w-min">
          <mat-label>Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            (focus)="picker.open()"
            readonly
          />
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
