.mat-mdc-form-field {
  width: 30%;
}

td, th {
  width: 25%;
}

.table-container {
  overflow: auto;
  margin-inline: auto;
  margin: 0.5rem;
  padding: 1.5rem;
  box-shadow:  0 0 5px  rgba(0,0,0,0.6);
}

// ::ng-deep .mat-form-field {
//   width: 40%;
//   border-radius: 50%;
// }
