.mat-mdc-form-field {
  width: 18rem;
}

td,
th {
  width: 25%;
}

th {
  color: grey;
  font-weight: 500;
}

.table-container {
  overflow: auto;
  margin-inline: auto;
  margin: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}