<section class="dashboard-container">
  <article class="flex flex-wrap justify-between">
    <app-data-card
      [title]="'REGISTERED CASUALS'"
      [number]="3458"
      [backgroundImage]="'linear-gradient(orange, white)'"
    ></app-data-card>
    <app-data-card
      [title]="'REGISTERED SUPERVISORS'"
      [number]="234"
      [backgroundImage]="'linear-gradient(cyan, white)'"
    ></app-data-card>
    <app-data-card
      [title]="'NUMBER OF ZONES'"
      [number]="5"
      [backgroundImage]="'linear-gradient(green, white)'"
    ></app-data-card>
    <app-data-card
      [title]="'NUMBER OF BLOCKS'"
      [number]="24"
      [backgroundImage]="'linear-gradient(red, white)'"
      [showDropdown]="true"
    ></app-data-card>
  </article>
  <article class="combine-data w-full mb-6">
    <div class="chart-data add-shadow rounded-md p-4">
      <h2 class="mb-2 text-slate-700 font-medium">SUPERVISOR COLLECTIONS</h2>
      <aside class="flex flex-wrap">
        <span class="mx-1">
          <p class="text-slate-500">Period End</p>
          <mat-form-field class="date" color="accent" appearance="outline">
            <input
              matInput
              [matDatepicker]="picker"
              (focus)="picker.open()"
              readonly
              placeholder="Date"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </span>
        <span class="mx-1">
          <p class="text-slate-500">Zone</p>
          <mat-form-field class="select" color="accent" appearance="outline">
            <mat-select>
              <mat-option value="">All</mat-option>
              <mat-option value="embu">Embu</mat-option>
              <mat-option value="nyeri">Nyeri</mat-option>
              <mat-option value="muranga">Murang'a</mat-option>
              <mat-option value="kirinyaga">Kirinyaga</mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </aside>
      <span class="text-slate-500">Time Period</span>
      <div class="button-group flex flex-wrap justify-between w-full my-4">
        <button mat-raised-button>Today</button>
        <button mat-raised-button class="period-btn" color="accent">
          Last 5 days
        </button>
        <button mat-raised-button>Last 7 days</button>
        <button mat-raised-button>Last 1 month</button>
        <button mat-raised-button>Last 3 months</button>
        <button mat-raised-button>Last 6 months</button>
      </div>
      <div>
        <canvas id="MyChart">{{ chart }}</canvas>
      </div>
    </div>
    <div class="worker-data">
      <div class="add-shadow rounded-md p-4 mb-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        impedit temporibus quidem quia ea, quisquam minus sunt, cumque, sint in
        dolor rem amet explicabo ab quaerat nostrum! Deserunt molestiae sit
        aliquid hic cumque error aliquam incidunt tenetur libero.
      </div>
      <div class="add-shadow rounded-md p-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique
        tempore reprehenderit ratione, odio veritatis voluptatibus ad labore quo
        possimus. Porro ea velit suscipit voluptates amet iste possimus
        mollitia, asperiores sit facere in eaque, harum reprehenderit maxime eum
        saepe voluptatum, quo deserunt numquam vitae.
      </div>
    </div>
  </article>
  <article class="add-shadow rounded-md p-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam ratione quo
    doloremque obcaecati odio eum maiores dolorem est numquam assumenda.
    Provident, deleniti dicta amet consequuntur at necessitatibus, numquam esse
    dignissimos quam voluptatum odio? Facilis minus perferendis ratione
    molestiae odio reprehenderit quod voluptatibus? Quo nemo perferendis illo
    itaque a consequuntur, suscipit veritatis aspernatur officia qui, officiis
    unde assumenda sint animi. Nemo aut incidunt laboriosam ipsa illo tempore
    molestias repellendus fugiat ex qui repellat, deleniti beatae eos aspernatur
    dicta temporibus laborum porro ipsam iusto libero reprehenderit iste
    quibusdam est! Sint animi quidem quo blanditiis earum deleniti ea! Earum,
    impedit optio debitis omnis sapiente inventore quae corrupti iusto unde
    fugiat minima? Adipisci unde temporibus est consectetur ratione rerum culpa,
    minus similique? Nulla repudiandae rerum expedita fuga, voluptatum eaque,
    illo odio, reiciendis voluptates quae quas. Modi ducimus maiores voluptas
    iure ut minima! Qui esse maiores tenetur expedita inventore temporibus
    libero molestias aspernatur, voluptas nemo ullam dolorum vitae ex sunt
    impedit minima consectetur aut maxime, blanditiis quaerat at neque,
    voluptates iusto.
  </article>
</section>
