<section>
  <article class="flex flex-wrap justify-between mb-6">
    <app-data-card
      [title]="'REGISTERED CASUALS'"
      [number]="3458"
      [backgroundImage]="'linear-gradient(orange, white)'"
    ></app-data-card>
    <app-data-card
      [title]="'REGISTERED SUPERVISORS'"
      [number]="234"
      [backgroundImage]="'linear-gradient(cyan, white)'"
    ></app-data-card>
    <app-data-card
      [title]="'NUMBER OF ZONES'"
      [number]="5"
      [backgroundImage]="'linear-gradient(green, white)'"
    ></app-data-card>
    <app-data-card
      [title]="'NUMBER OF BLOCKS'"
      [number]="24"
      [backgroundImage]="'linear-gradient(red, white)'"
      [showDropdown]="true"
    ></app-data-card>
  </article>
  <article class="flex justify-between w-full mb-6">
    <div class="produce-data add-shadow rounded-md p-4 lg:me-6">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quod
      voluptates quibusdam quo libero natus veritatis illum dolore doloremque
      optio obcaecati ex pariatur earum in cumque nihil, perferendis quidem a
      odio! Accusamus maiores ratione non, sequi odit vel maxime totam
      repellendus soluta illo rem earum nostrum quibusdam dolores reiciendis
      corrupti quidem facilis impedit sunt excepturi alias ipsa quae? Quia harum
      ut odio, necessitatibus voluptates cupiditate iste ea tenetur! Distinctio
      sapiente perferendis sequi laborum nulla molestiae expedita quaerat,
      consequatur voluptatum officia! Aperiam dolorem blanditiis cumque id fuga
      corporis dolore nisi quis, ea animi vero necessitatibus voluptatum nulla
      quod quidem veniam numquam consectetur reiciendis delectus ex possimus
      recusandae saepe? Excepturi eum labore ducimus nesciunt incidunt suscipit
      recusandae sit architecto accusamus perferendis dolorum voluptatibus,
      molestias magnam laborum aspernatur velit adipisci praesentium officiis
      ea! Error sed ad tempore tenetur officiis quo recusandae, odio suscipit.
      Praesentium ducimus laudantium excepturi, vero amet provident debitis
      iusto magnam!
    </div>
    <div class="lg:w-1/3">
      <div class="add-shadow rounded-md p-4 mb-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        impedit temporibus quidem quia ea, quisquam minus sunt, cumque, sint in
        dolor rem amet explicabo ab quaerat nostrum! Deserunt molestiae sit
        aliquid hic cumque error aliquam incidunt tenetur libero.
      </div>
      <div class="add-shadow rounded-md p-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique
        tempore reprehenderit ratione, odio veritatis voluptatibus ad labore quo
        possimus. Porro ea velit suscipit voluptates amet iste possimus
        mollitia, asperiores sit facere in eaque, harum reprehenderit maxime eum
        saepe voluptatum, quo deserunt numquam vitae.
      </div>
    </div>
  </article>
  <article class="add-shadow rounded-md p-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam ratione quo
    doloremque obcaecati odio eum maiores dolorem est numquam assumenda.
    Provident, deleniti dicta amet consequuntur at necessitatibus, numquam esse
    dignissimos quam voluptatum odio? Facilis minus perferendis ratione
    molestiae odio reprehenderit quod voluptatibus? Quo nemo perferendis illo
    itaque a consequuntur, suscipit veritatis aspernatur officia qui, officiis
    unde assumenda sint animi. Nemo aut incidunt laboriosam ipsa illo tempore
    molestias repellendus fugiat ex qui repellat, deleniti beatae eos aspernatur
    dicta temporibus laborum porro ipsam iusto libero reprehenderit iste
    quibusdam est! Sint animi quidem quo blanditiis earum deleniti ea! Earum,
    impedit optio debitis omnis sapiente inventore quae corrupti iusto unde
    fugiat minima? Adipisci unde temporibus est consectetur ratione rerum culpa,
    minus similique? Nulla repudiandae rerum expedita fuga, voluptatum eaque,
    illo odio, reiciendis voluptates quae quas. Modi ducimus maiores voluptas
    iure ut minima! Qui esse maiores tenetur expedita inventore temporibus
    libero molestias aspernatur, voluptas nemo ullam dolorum vitae ex sunt
    impedit minima consectetur aut maxime, blanditiis quaerat at neque,
    voluptates iusto.
  </article>
</section>
